body * {
    display: flex;
}

h1 {
    justify-content: center;
}

.main {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    float: left;
}

.sub-section {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    float: right;
    clear: right;
}

.alert-info {
    background-color: aqua;
    border: .25em solid lightgrey;
    padding: 1em 0;
    justify-content: center;
    align-content: center;
    text-align: center;
}

nav {
    justify-content: center;
}

.nav-links {
    list-style: none;
    flex-direction: column;
}

.nav-links a {
    background-color: lightgrey;
    border: .25em solid lightgrey;
    padding: .5em 2em .5em 0;
    margin: .5em 0;
    justify-content: center;
    height: 25px;
    width: 500px;
    align-items: center;
    color: blue;
    font-size: 1.2em;
}

#logo {
    min-height: 25%;
    max-height: 100%;
    min-width: 25%;
    max-width: 100%;
}

#social-media-links {
    display: flex;
    width: 100%;
    z-index: 2;
    justify-content: center;
    padding-bottom: 1em;
}

footer {
    float: bottom;
    clear: both;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
    margin: 0 1.5em;
    z-index: 4;
}
.trademark {
    z-index: 5;
}

#apple,
#facebook,
#twitter,
#github,
#slack {
    margin: 0 1.5em;
}

#apple:hover,
#facebook:hover,
#twitter:hover,
#github:hover,
#slack:hover {
    transition: ease-in;
    transform: scale(2.5);
    transition-duration: .2s;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    .alert-info {
        display: compact;
    }
}

/* Medium devices (desktops, 992px and up) */

@media screen and (min-width:992px) {
    .alert-info {
        display: none;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
    .alert-info {
        display: none;
    }
}

/*body.home .masthead .wrapper {*/
/*    max-height: 750px;*/
/*}*/
/*@media only screen and (min-width: 451px)*/
/*    .masthead .wrapper {*/
/*        align-items: center;*/
/*    }*/
/*    .masthead .wrapper {*/
/*        height: 100%;*/
/*        display: flex;*/
/*        flex-direction: row-reverse;*/
/*    }*/
/*    @media only screen and (min-width: 1024px)*/
/*        .wrapper {*/
/*            max-width: 960px;*/
/*        }*/
/*        @media only screen and (min-width: 920px)*/
/*            .wrapper {*/
/*                !* max-width: 840px; *!*/
/*            }*/
/*            @media only screen and (min-width: 768px)*/
/*                .wrapper {*/
/*                    max-width: 728px;*/
/*                }*/
/*                .wrapper {*/
/*                    box-sizing: border-box;*/
/*                    max-width: calc(100% - 46px);*/
/*                    margin: auto;*/
/*                    position: relative;*/
/*                }*/